@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

.poster {
    width: 100%;
    margin-top: 0px;
    margin-left:auto;
    margin-right:auto;
    display: block;
    background-color: #B39DDB;
    padding-bottom: 50px;
    padding-top: 50px;
    height:100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    
}

.des {
  margin-top:10px;
  margin-bottom: 30px;
}

.logo {
  height: 50px;
}

.header {
  text-align: center;
  font-family: 'Zen Dots', cursive;
  margin-top:-10px;
  display: block;
  margin-bottom: 15px;
}

.header-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}


.des {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  font-family: 'Klee One', cursive;
  color: rgb(251, 243, 255);
}

.sipdug {
  margin-top:0px;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right:auto;
  display: block;
}

.links {
  text-align: center;
  display: block;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

.links button {
  display: inline-block;
    justify-content: center;
    padding: 10px;
  margin: 5px 5px;
}

.links {
  margin-top:10px;
}

.link-text {
  margin:0px;
  padding:0px;
}


.lil-logo {
  width: 30px;
  height: auto;
  padding-right: 10px;  
  padding-bottom:5px;
  filter: invert(100%);
}





@media only screen and (max-width: 1000px) {
  
}


.navbar {
  text-align: center;
}


#mission-card {
  margin-top:150px;
  border-top: 3px solid rgb(129, 3, 183);
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.eboards {
text-align: center;
}

#eboard {
margin:30px;
  display: inline-block;
  width: 300px;
}

.sms{
  text-align: center;
}

.sms div{
  display: inline-block;
  width: 35px;
  margin:3px;
}

.sms img {
  width: 30px;
  filter: invert(30%);
}

.title{
  text-align: center;
  margin-top: 130px;
  margin-bottom: 30px;
  font-family: 'Zen Dots', cursive;
}

.card-img-top {
  width: 300px;
  height: 300px;
  border-top: 3px solid blueviolet;
}

iframe {
  border: 1px solid rgb(177, 156, 196);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.gallery {
  background-color: #B39DDB;
  height:100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.d-block {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#carouselExampleControls {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sr-only {
  color:black;
}