@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.logo {
  height: 50px;
}

.header {
  font-family: 'Zen Dots', cursive;
  text-align: center;
}

.links {
  text-align: center;
  display: block;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

.links button {
  display: inline-block;
    justify-content: center;
    padding: 10px;
  margin: 5px 5px;
}

.links {
  margin-top:10px;
  display: inline-block;
}

.link-text {
  margin:0px;
  padding:0px;
}

.lil-logo {
  width: 30px;
  height: auto;
  padding-right: 10px;  
  padding-bottom:5px;
  filter: invert(100%);
}

.sipdug {
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


@media only screen and (max-width: 1000px) {
  .sipdug {
    width: 100vw;
    height: 50vw;
  }

  
}

@media only screen and (max-width: 500px) {
  .sipdug {
    width: 100vw;
    height: 50vw;
  }
  
}


.navbar {
  text-align: center;
}

