@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

p {
  font-family: 'Oxygen', sans-serif;
}
.poster {
    width: 100%;
    margin-top: 0px;
    margin-left:auto;
    margin-right:auto;
    display: block;
    background-color: #d0c6eb;
    padding-bottom: 50px;
    padding-top: 50px;
    height:100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    
}

.des {
  margin-top:10px;
  margin-bottom: 30px;
  font-family: 'Noto Sans JP', sans-serif;
}

.logo {
  height: 50px;
}

.teul {
  border: 0.2px solid rgb(207, 198, 198);
}

.header {
  text-align: center;
  font-family: 'Acme', sans-serif;
  margin-top:-10px;
  display: block;
  margin-bottom: 15px;
}

.header-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}


.des {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  color: rgb(222, 226, 235);
}

.sipdug {
  margin-top:0px;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right:auto;
  display: block;
}

.links {
  text-align: center;
  display: block;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

.links button {
  display: inline-block;
    justify-content: center;
    padding: 10px;
  margin: 5px 5px;
  font-family: 'Russo One', sans-serif;
}

.links {
  margin-top:10px;
}

.link-text {
  margin:0px;
  padding:0px;
}


.lil-logo {
  width: 30px;
  height: auto;
  padding-right: 10px;  
  padding-bottom:5px;
  filter: invert(100%);
}





@media only screen and (max-width: 1000px) {
  
}


.navbar {
  text-align: center;
}


#mission-card {
  margin-top:0px;
  border-top: 3px solid rgb(74, 63, 220);
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.eboards {
text-align: center;
width: 90%;
margin-left: auto;
margin-right: auto;
}

#eboard {
margin:30px;
  display: inline-block;
  width: 300px;
}

.sms{
  text-align: center;
}

.sms div{
  display: inline-block;
  width: 35px;
  margin:3px;
}

.sms img {
  width: 30px;
  filter: invert(30%);
}

.title{
  text-align: center;
  margin-top: 130px;
  margin-bottom: 30px;
  font-family: 'Acme', sans-serif;
}

h3 {
  font-family: 'Amatic SC', cursive;
}

.whyList {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.card-img-top {
  width: 300px;
  height: 300px;
  border-top: 3px solid blueviolet;
}

iframe {
  border: 1px solid rgb(177, 156, 196);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.gallery {
  background-color: #B39DDB;
  height:100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.d-block {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#carouselExampleControls {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sr-only {
  color:black;
}

.icons {
  margin-top: 50px;
  text-align: center;
}

.icons div {
  display: inline-block;
  width: 250px;
  margin: 50px;
}

.contact {
  margin-top:-20px;
  text-align: center;
}

.contact2 img{
  width: 300px;
  height: 100px;
}

.contact2 {
  border-right: 0.5px solid black;
  height: 100px;
}

.contact3 {
  width: 300px;
}

.contact3 p {
  text-align: left;
  margin-left: 80px;
  margin-right: auto;
}

.contact3 img {
  width: 40px;
  padding: 10px;
}

.gang {
  margin-top: 50px;
  display: flex;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.sponsor {
  text-align: center;
  margin-bottom: 100px;
}

.sponsor p, .sponsor ul {
  text-align: left;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.event img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 500px;
  height: 500px;
}


@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:17vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
   
}

@media only screen and (max-width: 755px) {
  .area {
    height: 110vh;
  }
}

@media only screen and (max-width: 665px) {
  .area {
    height: 120vh;
  }
}

@media only screen and (max-width: 520px) {
  .area {
    height: 130vh;
  }
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.proj ul{
  display: block;
  text-align: center;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
}

.proj img {
  width: 550px;
  height: 350px;
}

.proj a {
  text-decoration: none;
}

.proj .link {
  height:auto;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.proj li {
  font-size: 15px;
  display: inline-block;
  padding: 10px;
}

.projHeader div {
  width: 100%;
  display: inline-block;
  
}

.projDesDes {
  margin-top:-15px;
  font-size: 110%;
  width: 550px;
  float: left;
  text-align: left;
}

.projDes a {
  border-radius: 10000rem;
  padding: 9px 16px;
  border: 2.5px solid blue;
  font-size: 1rem;
  margin-left: -5px;
  margin-bottom: 100px;
  float: left;
}

.tools  {
  float: left;
  text-align: center;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  padding-top:6px;
  padding-bottom:6px;
  margin-top:0px;
  margin-bottom: 3px;
  background-color: #babacf;
  border-radius: 3px;
  color:rgb(0, 0, 0);
  
}



.img__description {
  width: 290px;
  height: 290px;

  position: absolute;
  margin-left:5px;
  margin-top: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(247, 247, 247, 0.877);
  color: black;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  text-align: left;
  font-size: 8.5px;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}


.img__description img {
  width: 15px;
  height: 15px;
}

.img__description .link {
  width: 30px;
  height: 30px;
}

.roles {
  text-align: center;
}


.roles p {
  font-size: 13px;
}

h2 {
  text-align: left;
  font-family : var(--title-font);
  margin-top:30px;
  margin-left: 0px;
  font-size: 1.5rem;
  font-weight: 600;
}